.select {
    appearance: none;
    border: 0;
    cursor: pointer; 
    
    background-color: var(--secondary-color-variant, $secondary-color-variant);
    color: var(--primary-color, $primary-color);
    min-height: 100%;
    
    padding: 1rem;
    border-radius: $border-radius / 2;
    box-shadow: var(--dark-shadow, $dark-shadow);
    outline: 1px solid transparent;

    transition: 
        background-color .3s ease-in-out,
        outline-color .3s ease-in-out;

}

.select:is(:focus-within) {
    background-color: var(--primary-color ,primary-color);
    outline-color: $accent-color;
}


.select:is(:focus-within) {
    outline-color: $accent-color;
}
