.main {
    padding: $header-height 0 0 0;

    .presentationImage {
        max-height: 25rem;
        object-fit: cover;
        width: 100%;
    }
    section {
        padding: 5rem var(--website-padding) 7.5rem var(--website-padding);
        display: grid;
        gap: 2rem;
    }
}