*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #ffffff;
    --primary-color-variant: #FBEAFF;

    --secondary-color: #000;
    --secondary-color-variant: #101010;

    --accent-color: #180444;

    --light-shadow: 0 0 10px rgb(255, 255, 255, .15);
    --dark-shadow: 0 0 10px rgb(0, 0, 0, .15);
    
    --header-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
    --website-padding: 5vw;
}

@media screen and (min-width: 768px) {
    :root {
        --website-padding: 12.5vw;
    }
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    line-height: 1.5;
}

main {
    min-height: 85vh;
}

button {
    border: 0;
    background-color: transparent;
    color: inherit;
    outline: none;
    cursor: pointer;
}


a {
    text-decoration: none;
    color: inherit;
    outline: none;

}

ul, ol {
    list-style: none;
}

h1, .h1 {
    font-size: 3rem;
    font-weight: 700;
}

h2, .h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

h3, .h3 {
    font-size: 2rem;
    font-weight: 700;
}

h4, .h4 {
    font-size: 1.25rem;
    font-weight: 700;
}

p {
    font-size: 1.15rem;
    font-weight: 400;
    text-align: justify;
}


.animate-on-hover {
    display: inline-block;
    transition: transform .75s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.animate-on-hover:is(:hover, :focus-within) {
    transform: rotateZ(4deg) scale(0.95);
}

.swiper {
    .swiper-button-prev, .swiper-button-next {
        color: var(--primary-color-variant, $primary-color-variant);
        mix-blend-mode: difference;
    }
    .swiper-pagination {
        .swiper-pagination-bullet-active-main {
            background: var(--accent-color, $accent-color);
            border: .5px solid var(--primary-color-variant, $primary-color-variant);
        }
    }
}
