.input {
    background-color: var(--secondary-color-variant, $secondary-color-variant);
    color: var(--primary-color, $primary-color);
    min-height: 100%;
    border: 0;
    padding: 1rem;
    border-radius: $border-radius / 2;
    box-shadow: var(--dark-shadow, $dark-shadow);
    resize: none;
    outline: 1px solid transparent;
    transition: 
        background-color .3s ease-in-out,
        outline-color .3s ease-in-out;
}

.input:is(:focus-within) {
    background-color: var(--primary-color, $primary-color);
    outline-color: $accent-color;
    color: var(--secondary-color, $secondary-color);
}