.swipper {
    .slide {
        width: 100%;

        img {
            max-width: min(100%, 1000px);
            margin: 0 auto;
            display: block;
            object-fit: contain;
            max-height: 85vh;
        }
    }

}
